nodered.flows.json
[
    {
        "id": "6cdf75dd7d4c8e37",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5792edbcd9b0aa88",
        "type": "tag-storage",
        "name": "",
        "storeName": "default"
    },
    {
        "id": "c0af4e44fc393853",
        "type": "inject",
        "z": "6cdf75dd7d4c8e37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "646bc663f6943e63"
            ]
        ]
    },
    {
        "id": "646bc663f6943e63",
        "type": "debug",
        "z": "6cdf75dd7d4c8e37",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "5e1f0183f71b75b3",
        "type": "tags_in",
        "z": "6cdf75dd7d4c8e37",
        "storage": "5792edbcd9b0aa88",
        "path": "[root]",
        "name": "",
        "isBatch": false,
        "tagName": "asdf",
        "desc": "",
        "deadband": "",
        "isForcedEmit": false,
        "x": 430,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "948037e3f0748a46",
        "type": "inject",
        "z": "6cdf75dd7d4c8e37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "5e1f0183f71b75b3"
            ]
        ]
    },
    {
        "id": "0da566a1490d1989",
        "type": "value_emitter",
        "z": "6cdf75dd7d4c8e37",
        "storage": "5792edbcd9b0aa88",
        "path": "[root]",
        "name": "",
        "isToEmitAllChanges": false,
        "tagName": "",
        "addedTagName": "",
        "emitOnStart": true,
        "tags": [
            {
                "name": "asdf",
                "isAdded": false,
                "path": "[root]"
            }
        ],
        "isGrouped": false,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "5864420984112985"
            ]
        ]
    },
    {
        "id": "5864420984112985",
        "type": "debug",
        "z": "6cdf75dd7d4c8e37",
        "name": "debug 2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "a19051d70a5d137d",
        "type": "value_emitter",
        "z": "6cdf75dd7d4c8e37",
        "storage": "5792edbcd9b0aa88",
        "path": "[root]",
        "name": "",
        "isToEmitAllChanges": false,
        "tagName": "",
        "addedTagName": "",
        "emitOnStart": true,
        "tags": [
            {
                "name": "asdf1",
                "isAdded": false,
                "path": "[root]"
            }
        ],
        "isGrouped": false,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "018ba4400c16dc96"
            ]
        ]
    },
    {
        "id": "018ba4400c16dc96",
        "type": "debug",
        "z": "6cdf75dd7d4c8e37",
        "name": "debug 3",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 440,
        "wires": []
    }
]